<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercadoliebre</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <img id="logo" width="260" src="images\logo-mercado-liebre.svg" alt="">
        <p></p>
        <div id="search-bar" class="cuerpo-texto">Buscar productos, marcas...</div>
        <i class="fas fa-search" id="search-icon"></i>
        <p id="en-cuotas" class="cuerpo-texto"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        <nav class="cuerpo-texto">
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="#">Creá tu cuenta<i class="far fa-id-card"></i></a></li>
                <li><a href="#">Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras<i class="fas fa-shopping-basket"></i>    </a></li>
            </ul>
        </nav>
        <div id="burger-menu" class="burger-menu"><i class="fas fa-bars"></i> </div>
    </header>
    <section>
        <img src="/images/img-home-banner.jpg" width="377">
    </section>
    <main>
        <section class="last-visit">
                <h2 class="titular">BASADO EN TU ÚLTIMA VISITA</h2>
                <article>
                    <img width="300" src="images\img-cafetera-moulinex.jpg">
                    <p class="precio">$6.770</p>
                    <p class="descuento-descripcion">40% off</p>
                    <h3 class="descuento-descripcion">Cafetera Moulinex</h3>
                </article>
                <article> 
                    <img width="300" src="images\img-macbook-pro-2019.jpg">
                    <p class="precio">$230.000</p>
                    <p class="descuento-descripcion">20% off</p>
                    <h3 class="descuento-descripcion">MacBook Pro 2019</h3>
                </article>
                <article>
                    <img width="300" src="images\img-samsung-galaxy-s10.jpg">
                    <p class="precio">$70.500</p>
                    <p class="descuento-descripcion">10% off</p>
                    <h3 class="descuento-descripcion">Samsung Galaxy S10</h3>
                </article>
                <article>
                    <img width="300" src="images\img-tv-samsung-smart.jpg">
                    <p class="precio">$23.200</p>
                    <p class="descuento-descripcion">5% off</p>
                    <h3 class="descuento-descripcion">SmartTv Samsung 43"</h3>
                </article>
        </section>
        <p></p>
        <section class="offers">
                <h2 class="titular">OFERTAS</h2>
                <article>
                    <img width="300" src="images\img-cafetera-moulinex.jpg">
                    <p class="precio">$6.770</p>
                    <p class="descuento-descripcion">40% off</p>
                    <h3 class="descuento-descripcion">Cafetera Moulinex</h3>
                </article>
                <article>
                    <img width="300" src="images\img-macbook-pro-2019.jpg">
                    <p class="precio">$230.000</p>
                    <p class="descuento-descripcion">20% off</p>
                    <h3 class="descuento-descripcion">MacBook Pro 2019</h3>
                </article>
                <article>
                    <img width="300" src="images\img-samsung-galaxy-s10.jpg">
                    <p class="precio">$70.500</p>
                    <p class="descuento-descripcion">10% off</p>
                    <h3 class="descuento-descripcion">Samsung Galaxy S10</h3>
                </article>
                <article>
                    <img width="300" src="images\img-tv-samsung-smart.jpg">
                    <p class="precio">$23.200</p>
                    <p class="descuento-descripcion">5% off</p>
                    <h3 class="descuento-descripcion">SmartTv Samsung 43"</h3>
                </article>
        </section>
    </main>
    <footer>
        <i class="fas fa-credit-card" id="card"></i>
        <h4 class="h4">Pagá con tarjeta o en efectivo</h4>
        <p class="descripciones-footer">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta
            o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        <i class="fas fa-gift" id="gift"></i>
        <h4 class="h4">Envío gratis desde los $2.500</h4>
        <p class="descripciones-footer">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
        <i class="fas fa-user-shield" id="security"></i>
        <h4 class="h4">Seguridad de principio a fin</h4>
        <p class="descripciones-footer">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
        <p id="copyright"  class="descripciones-footer">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>