* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif;
    background-color: #ebebeb; 
}

h3{
    font-size: 24px;
}
p{
    font-size: 12px;
}


header {
    background-color:#EAC926;
    padding: 4px;
}
header div.top-header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
header div.top-header p{
    width: 100%;
    margin: auto;
    text-align: center;
}

header div.logo,
header .form{
    width: 50%;
}
header div.logo{
    padding: 10px;
}


header .form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    max-height: 32px;
    border-radius: 3px;
}
header .form .input{
    color:#666;
    border: none;
    padding: 5px;
    outline: none;
    width: 75%;
}
header .form .submit{
    color:#666;
    font-size: 1rem;
    padding: 5px;
    cursor: pointer;
}

header nav{
    font-size: 12px;
    display: none;
}
header ul li{
    list-style-type: none;
}
header ul li a{
    text-decoration: none;
    color: #666;
}

div.burger-menu{
    text-align: center;
}
div.burger-menu i {
    background-color: #0044aa;
    border-radius: 5px;
    color: #ebebeb;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}

section.banner img{
    width: 100%;;
}



main{
    margin: 0 auto;
    width: 90%;
}
main section article{
    position: relative;
    background-color: #fff;
    margin: 10px 0px;
}
main section article img{
    width: 100%;
}

main section article i,
.discount{
    color: #39b54a;
}

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

main section h3 {
    margin: 20px 0px;
}

article div.main-article {
    width: 100%;
    border-top: 1px solid #ebebeb;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    position: relative;
}

main section div.products article {
    cursor: pointer;
}

div.last-visit,
div.offers {
  display: flex;
  flex-wrap: wrap;
}
.price {
    font-size: 18px;
    width: 30%;
}
.discount{
    width: 70%;
} 
.discount,
.description {
    font-size: 16px;
    font-weight: normal;
}

h3,
.description {
  color: #666;
}

.description{
    display: none;
    margin-top: 20px;
}


footer{
    width: 100%;
    margin: auto;
    padding: 5px;
    background-color: #fff;
}
footer .cont{
    text-align: center;
    margin: 25px;
}
footer p{
    font-size: 1rem;
}
footer i{
    font-size:2em; 
    color: #1259c3;
    margin-bottom: 4px;
}
footer h4{
    font-size: 1rem;
}

#copyright{
    font-size: 0.8rem;
    text-align: center;
    padding: 15px;
    color:#000;
}


@media (min-width: 361px) {
    header nav{
        display: block;
    }
    header div.burger-menu{
        display: none;
    }
    header form{
        border: 1px solid #000;
        width: 100%;
    }
    
    header div.top-header{
        flex-wrap: nowrap;
    }
    header nav{
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }
    header nav ul{
        display: flex;
    }
    header nav ul li{
        margin: 0px 5px 10px 5px;
    }
    header nav ul li a{
        transition: color 300ms;
    }
    header nav ul li:hover a{
        color:#000;
    }

    main section article .description {
        display: block;
    }
    main section div.products {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        
    }
    main section div.products article {
        width: 45%;
        box-shadow: none;
        transition: box-shadow 300ms;
    }
    main section div.products article:hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .price,
    .discount {
        width: 50%;
    }
}



@media(min-width:769px){
    header div.top-header p{
        font-size: 1rem;
    }
    header nav ul li{ 
        font-size: 1rem;
        margin-left: 25px;
    }
    
    .price,
    .discount{
        font-size: 0.9rem;
    }
    
    
    main section article .description {
        position: relative;
        opacity: 0;
        transition: opacity 300ms;
    }
    main section article:hover .description {
        opacity: 1;
    }

    main section div.products article {
        width: 22%;
    }
    

    main section div.products article .fa-truck{
        transition: transform 300ms;
    }
    main section div.products article:hover .fa-truck{
        transform: rotate(-90deg);
    }


    footer{
        display: flex;
        justify-content: space-around;
    }
    footer div.cont{
        margin-bottom: 10px;
    }
    footer div.cont i{
        transition: color 300ms;
    }
    footer div.cont:hover i{
        color:#39b54a;
    }
    
}