html{
    font-family: 'Roboto', sans-serif;
}
header {
    background-color:#EAC926;
    padding-bottom: 20px;
}
main{
    margin-bottom: 50px;
}
footer{
    text-align: center;
}
*{
    box-sizing: border-box;
}

#logo{
    margin-left: 23px;
    margin-top: 23px;
}


#en-cuotas{
    text-align: center;
}
#burger-menu{
    text-align: center;
    background-color:#1259c3;
    width: 40px;
    margin-left: 165px;margin-right: 165px;
    padding: 2px;
    color: white;
    font-size: 25px;
    border-radius: 5px;
}
#copyright{
    text-align: left;
}
#card{
    font-size:35px; color: #1259c3;
}
#gift{
    font-size:35px; color: #1259c3;
}
#security{
    font-size:35px; color: #1259c3;
}



header div.search-bar{
    border-radius: 3px;
    border: 1px solid #000;
    background-color: white;
    width: fit-content;
    color:#666;
    align-items: center;
}
header div.top-header{
    display: flex;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}
.search-icon{
    font-size: 12px;
    border-radius: 4px;
}

.cuerpo-texto{
    font-size: 12px;
}
.titular{
    font-size: 24px;
}
.precio{
    font-size: 18px;
}
.descuento-descripcion{
    font-size: 16px;
}
footer.h4{
    margin: 0px;
}
.descripciones-footer{
    font-size: 12px;
    margin-bottom: 40px;
}



@media (min-width: 361px) {
    main section article {
      box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
  }

@media(min-width:769px){
    header nav ul li{
        display: block;
    }
    header #burger-menu{
        display: none;
    }
}




